html, body, div, h1,h2 ,p, ul , li, section{
  margin: 0px;
  padding: 0px;
}


@keyframes blinkCursor {
  from {
    border-right-color: #fff;
  }
  to{
    border-right-color: transparent;
  }
}
@keyframes girar2{
  0%{
    rotate: -190deg;
  }
  10%{
    rotate: -60deg;
  }
  30%{
    rotate: 10deg;
  }
  50%{
    rotate: 100deg;
  }
  80%{
    rotate: 20deg;
  }
  100%{
    rotate: 160deg;
  }

  
}

@keyframes girar1{
  0%{
    rotate: 60deg;
  }
  10%{
    rotate: -60deg;
  }
  30%{
    rotate: 10deg;
  }
  50%{
    rotate: 60deg;
  }
  80%{
    rotate: 20deg;
  }
  100%{
    rotate: 60deg;
  }

  
}

@keyframes leftRight {
  0%{
    transform: translateX(-5px);
  }
  50%{
    transform: translateX(80px);
  }
  100%{
    transform: translateX(-5px);
  }
}

.lampada{
  content: '';
  display: block;
  border-radius: 50% 50% 80% 80%;
  transition: 0.5s;
  transition-property: box-shadow;
  background: transparent;

  z-index: 1;
  
}


 




.tt{
  display: none;
}

.t2{
  position: absolute;
  width: 800px;
}