

html, body, div, h1,h2 ,p, ul , li, section{
  margin: 0px;
  padding: 0px;
}

body{
 overflow-x: hidden;
}


@keyframes blinkCursor {
  from {
    border-right-color: #fff;
  }
  to{
    border-right-color: transparent;
  }
}

@keyframes leftRight {
  0%{
    transform: translateX(-5px);
  }
  50%{
    transform: translateX(80px);
  }
  100%{
    transform: translateX(-5px);
  }
}


 

@media (max-width: 2980px) {
  .container-clock .clock1 {
    width: 300px;
    height: 300px;
  }
  .container-clock .clock1 img{
    max-width: 270px;
  }

  .container-clock .clock2 {
    right: -150px;
    width: 600px;
    height: 600px;
  }
  .container-clock .clock3{
     width: 500px;
  }

}
@media (max-width: 2250px) {
  .container-clock .clock1 {
    width: 250px;
    height: 250px;
  }
  .container-clock .clock1 img{
    max-width: 220px;
  }
  .container-clock .clock2 {
    right: -50px;
    width: 400px;
    height: 400px;
  }
  .container-clock .clock2 img{
    max-width: 150px;
  }
  .container-clock .clock3{
  width: 400px;
  left: 400px;
  }
  .container-clock .clock3 img {
    margin-top: 10px;
    max-width: 80px;
  }

}
@media (max-width: 1950px) {
  .container-clock .clock1 {
    width: 160px;
    height: 160px;
  }
 
  .container-clock .clock1 img{
    max-width: 150px;
  }

  .container-clock .clock2 {
    top: 50%;
    right: -65px;
    width: 350px;
    height: 350px;
 
  }
  .container-clock .clock2 img{
    max-width: 100px;
  }

  .container-clock .clock3{
    top: 63%;
    width: 300px;
    height: 160px;
  
    }
.container-clock .clock3  img {
  margin-top: 20px;
  max-width: 50px;
}

}
@media (max-width: 1290px) {
  .container-clock .clock1 {
    width: 120px;
    height: 120px;
    left: 25px;
  }
 
  .container-clock .clock1 img {
    max-width: 100px;
  }


  .container-clock .clock2 {
    width: 270px;
    height: 270px;

  }
  .container-clock .clock2 img{
    max-width: 80px;
  }
  .container-clock .clock3{
    width: 200px;
    left: 200px;
  
    }
 .container-clock .clock3 img {
   max-width: 35px;
  }


}
@media (max-width: 1030px) {
  .container-clock .clock1 {
    width: 90px;
    height: 90px;
    left: 15px;
  }
 
  .container-clock .clock1  img {
    max-width: 80px;
  }

  .container-clock .clock2 {
    right: -40px;
    width: 200px;
    height: 200px;
  }

  .container-clock .clock3{
    width: 150px;

  
    }
    .container-clock .clock3 img {
      max-width: 25px;
    }



}
@media (max-width: 720px) {
  .container-clock .clock1 {
    width: 70px;
  height: 70px;
  left: 3px;
  top: 3px;
  }

  .container-clock .clock1  img {

    max-width: 65px;
  }

  .container-clock .clock2 {
    right: -30px;
    width: 130px;
    height: 130px;
    top: 10px;
  }
  .container-clock .clock2 img{
   
    margin-top: 10px;
    max-width: 40px;
  }

  .container-clock .clock3{
    left: 100px;
    width: 120px;
 
    }
    .container-clock .clock3 img {
      max-width: 20px;
    }

}
@media (max-width: 550px) {
  .container-clock .clock2{
  right: -40px;
  width: 130px;
  height: 130px;
  top: -20px;
  }
  .container-clock .clock2 img {
    margin-top: 10px;
    max-width: 40px;
  }

}



